a
  text-decoration none
  margin 20px 10px

  &.newTaskBtn 
    position absolute 
    top 20%
    button-size = 220px
    left 'calc(50% - %s / 2)' % button-size
    width button-size
    height 50px
    display flex
    text-align center
    justify-content center
    align-items center
    font-family core_font
    font-size 25px
    background-color coral
    border-radius 10px
    box-sizing border-box 
    padding 10px
    color #fefefe