div
  &.popup
    position fixed
    top 30%
    left 40% 
    border-radius 5px
    background-color #cccccc
    opacity 0
    transition opacity 0.3s ease-in
    will-change opacity

    &.show
      opacity 1 
  
  &.taskList
    position absolute 
    top 20%
    left 40%

    .task
      margin-bottom 30px
      background-color #eee
      border-radius 5px
      padding 10px 50px