p  
  font-family core_font
  
  &.errorMessages
    color red
  &.successMessages
    color green
  
  &.due_date
    font-family title_font 
    font-size 15px
    color coral
    text-align center
  
  &.taskContent
    font-size 15px
    color #fefefe
    margin-top 20px

  &.explanations
    margin-top 300px
    margin-left 20px
    margin-right 20px
    font-size 30px
    color coral
    text-align center
    