a {
  text-decoration: none;
  margin: 20px 10px;
}
a.newTaskBtn {
  position: absolute;
  top: 50px;
  font-size: 20px;
  background-color: #ddd;
  border-radius: 5px;
  padding: 5px;
}
div.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  background-color: #ccc;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  will-change: opacity;
}
div.popup.show {
  opacity: 1;
}
div.popup img.closeNewTask {
  margin-left: 90%;
  cursor: pointer;
}
p {
  margin: 20px 10px;
}
p.errorMessages {
  color: #f00;
}
p.successMessages {
  color: #008000;
}
