a {
  text-decoration: none;
  margin: 20px 10px;
}
a.newTaskBtn {
  position: absolute;
  top: 20%;
  left: calc(50% - 220px / 2);
  width: 220px;
  height: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: core_font;
  font-size: 25px;
  background-color: #ff7f50;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  color: #fefefe;
}
div.headerButtons {
  position: absolute;
  right: 30px;
  margin-top: 35px;
  display: inline-block;
  font-family: core_font;
  color: light_blue;
}
div.headerButtons a {
  color: light_blue;
}
div.onePageForms {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  background-color: light_blue;
}
div.onePageForms.signupForm {
  width: 500px;
  height: 600px;
  margin-left: -250px;
  margin-top: -300px;
  border-radius: 5px;
  box-sizing: border-box;
}
div.onePageForms.signinForm {
  width: 500px;
  height: 350px;
  margin-left: -250px;
  margin-top: -175px;
  border-radius: 5px;
  box-sizing: border-size;
}
div.popup {
  position: fixed;
  top: calc(50% - 700px / 2);
  left: calc(50% - 600px / 2);
  width: 600px;
  height: 700px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: dark_blue;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  will-change: opacity;
  z-index: -1;
}
div.popup.show {
  opacity: 1;
  z-index: 98;
}
div.popup.show .close {
  z-index: 99;
  cursor: pointer;
}
div.taskList {
  position: absolute;
  top: 20%;
  left: 40%;
}
div.taskList .task {
  margin-bottom: 30px;
  background-color: #eee;
  border-radius: 5px;
  padding: 10px 50px;
}
p {
  font-family: core_font;
}
p.errorMessages {
  color: #f00;
}
p.successMessages {
  color: #008000;
}
img.close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
}
h1 {
  position: absolute;
  left: calc(50% - 350px / 2);
  margin-top: 20px;
  display: inline-block;
  font-family: title_font;
  font-size: 60px;
  width: 350px;
  height: 100px;
  color: dark_blue;
  text-align: center;
}
h2 {
  position: absolute;
  left: calc(50% - 150px / 2);
  margin-top: 5px;
  width: 150px;
  color: pinkish;
  font-family: title_font;
  font-size: 40px;
  text-align: center;
}
form {
  position: relative;
  height: 100%;
  width: 100%;
}
form .formContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  box-sizing: border-box;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form .formContainer.taskformContainer {
  width: 580px;
  height: 680px;
  margin-left: -290px;
  margin-top: -340px;
}
form .formContainer.signupformContainer {
  width: 500px;
  height: 600px;
  margin-left: -250px;
  margin-top: -300px;
}
form .formContainer.signinformContainer {
  width: 500px;
  height: 350px;
  margin-left: -250px;
  margin-top: -175px;
}
form .formContainer input,
form .formContainer textarea {
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: core_font;
  border-radius: 5px;
  border: none;
}
form .formContainer input[type='submit'],
form .formContainer textarea[type='submit'] {
  padding: 5px;
  font-family: title_font;
  font-size: 20px;
}
form .formContainer label,
form .formContainer p {
  font-family: core_font;
  color: pinkish;
}
