div.popup {
  position: fixed;
  top: 30%;
  left: 40%;
  border-radius: 5px;
  background-color: #ccc;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  will-change: opacity;
}
div.popup.show {
  opacity: 1;
}
div.taskList {
  position: absolute;
  top: 20%;
  left: 40%;
}
div.taskList .task {
  margin-bottom: 30px;
  background-color: #eee;
  border-radius: 5px;
  padding: 10px 50px;
}
