h1 {
  position: absolute;
  left: calc(50% - 350px / 2);
  margin-top: 20px;
  display: inline-block;
  font-family: title_font;
  font-size: 60px;
  width: 350px;
  height: 100px;
  color: dark_blue;
  text-align: center;
}
h2 {
  position: absolute;
  left: calc(50% - 150px / 2);
  margin-top: 5px;
  width: 150px;
  color: pinkish;
  font-family: title_font;
  font-size: 40px;
  text-align: center;
}
